* {
  padding: 0;
  margin: 0;
}

#main {
  font-size: 0.8rem;
  padding: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    padding: 2px;
    border: 1px solid grey;
  }
}