* {
  padding: 0;
  margin: 0;
}

#main {
  font-size: 0.8rem;
  padding: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    padding: 2px;
    border: 1px solid grey;
  }
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: 1.5em;
}

#profile {
  margin-bottom: 10px;
}

#base_status {
  margin-bottom: 10px;
}

#main_spec {
  margin-bottom: 10px;
}